---
layout: page
title: Stock Of the Day 今日最佳股票
---

{% assign posts = site.documents | where_exp: "item", "item.title != page.title" | where: "stock_of_the_day", true | where: "lang", "zh-cn" | sort: "date" | reverse %}
<div class="post-list">
    {% for post in posts %}
        <a class="post-title" href="{{site.baseurl}}{{post.url}}"><h2>{{ post.title }}</h2></a>
        <p class="date">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} by {{ post.author }}{% endif %}</p>
        <p>{{post.excerpt | strip_html}}</p>
    {% endfor %}
</div>
