---
layout: page
title: The Big Picture
---

{% assign posts = site.documents | where: "the_big_picture", true | where_exp: "item", "item.name != 'index.html'" | sort: "date" | reverse %}
<div class="post-list">
    {% for post in posts %}
        <a class="post-title" href="{{site.baseurl}}{{post.url}}"><h2>{{ post.title }}</h2></a>
        <p class="date">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} by {{page.title}} {% endif %}</p>
        <p>{{post.excerpt | strip_html}}</p>
    {% endfor %}
</div>
